
<%= _.template(require('./../includes/header.html').default)(data) %>
<section class="main_nav container">
    <ul class="d-flex ul_nostyle main_nav_list font-weight-bold mt-4 mb-5">
        <li class="active mr-5"><a href="">Home</a></li>
        <li class="mr-5"><a href="">Auctions</a></li>
        <li><a href="">Shops</a></li>
    </ul>
    <img src="img/bg.png" alt="bg" class="img-fluid">
</section>

<section class="main_categories container">
    <h1 class="font-weight-bolder mt-5 mb-5 text-center">Categories</h1>
    <div class="row">
        <div class="col-md-6 col-xl-4">
            <a href="" class="d-flex main_categories_card">
                <span class="img_wr">
                    <img src="img/card.svg" alt="">
                </span>
                <div class="main_categories_card_info d-flex flex-column justify-content-between">
                    <header>
                        <div class="title fs-20 font-weight-bold mb-3">Camera</div>
                        <ul class="ul_nostyle">
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Auctions</span> <span>1</span></li>
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Price from</span> <span>$ 2400</span></li>
                        </ul>
                    </header>
                    <div class="main_categories_card_info_arrow pointer fs-14 font-weight-bold">
                        view <img src="img/arrow_right.svg" class="ml-2 transition">
                    </div>


                </div>
            </a>
        </div>
        <div class="col-md-6 col-xl-4">
            <a href="" class="d-flex main_categories_card">
                <span class="img_wr">
                    <img src="img/card.svg" alt="">
                </span>
                <div class="main_categories_card_info d-flex flex-column justify-content-between">
                    <header>
                        <div class="title fs-20 font-weight-bold mb-3">Camera</div>
                        <ul class="ul_nostyle">
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Auctions</span> <span>1</span></li>
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Price from</span> <span>$ 2400</span></li>
                        </ul>
                    </header>
                    <div class="main_categories_card_info_arrow pointer fs-14 font-weight-bold">
                        view <img src="img/arrow_right.svg" class="ml-2 transition">
                    </div>


                </div>
            </a>
        </div>
        <div class="col-md-6 col-xl-4">
            <a href="" class="d-flex main_categories_card">
                <span class="img_wr">
                    <img src="img/card.svg" alt="">
                </span>
                <div class="main_categories_card_info d-flex flex-column justify-content-between">
                    <header>
                        <div class="title fs-20 font-weight-bold mb-3">Camera</div>
                        <ul class="ul_nostyle">
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Auctions</span> <span>1</span></li>
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Price from</span> <span>$ 2400</span></li>
                        </ul>
                    </header>
                    <div class="main_categories_card_info_arrow pointer fs-14 font-weight-bold">
                        view <img src="img/arrow_right.svg" class="ml-2 transition">
                    </div>


                </div>
            </a>
        </div>
        <div class="col-md-6 col-xl-4">
            <a href="" class="d-flex main_categories_card">
                <span class="img_wr">
                    <img src="img/card.svg" alt="">
                </span>
                <div class="main_categories_card_info d-flex flex-column justify-content-between">
                    <header>
                        <div class="title fs-20 font-weight-bold mb-3">Camera</div>
                        <ul class="ul_nostyle">
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Auctions</span> <span>1</span></li>
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Price from</span> <span>$ 2400</span></li>
                        </ul>
                    </header>
                    <div class="main_categories_card_info_arrow pointer fs-14 font-weight-bold">
                        view <img src="img/arrow_right.svg" class="ml-2 transition">
                    </div>


                </div>
            </a>
        </div>
        <div class="col-md-6 col-xl-4">
            <a href="" class="d-flex main_categories_card">
                <span class="img_wr">
                    <img src="img/card.svg" alt="">
                </span>
                <div class="main_categories_card_info d-flex flex-column justify-content-between">
                    <header>
                        <div class="title fs-20 font-weight-bold mb-3">Camera</div>
                        <ul class="ul_nostyle">
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Auctions</span> <span>1</span></li>
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Price from</span> <span>$ 2400</span></li>
                        </ul>
                    </header>
                    <div class="main_categories_card_info_arrow pointer fs-14 font-weight-bold">
                        view <img src="img/arrow_right.svg" class="ml-2 transition">
                    </div>


                </div>
            </a>
        </div>
        <div class="col-md-6 col-xl-4">
            <a href="" class="d-flex main_categories_card">
                <span class="img_wr">
                    <img src="img/card.svg" alt="">
                </span>
                <div class="main_categories_card_info d-flex flex-column justify-content-between">
                    <header>
                        <div class="title fs-20 font-weight-bold mb-3">Camera</div>
                        <ul class="ul_nostyle">
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Auctions</span> <span>1</span></li>
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Price from</span> <span>$ 2400</span></li>
                        </ul>
                    </header>
                    <div class="main_categories_card_info_arrow pointer fs-14 font-weight-bold">
                        view <img src="img/arrow_right.svg" class="ml-2 transition">
                    </div>


                </div>
            </a>
        </div>
        <div class="col-md-6 col-xl-4">
            <a href="" class="d-flex main_categories_card">
                <span class="img_wr">
                    <img src="img/card.svg" alt="">
                </span>
                <div class="main_categories_card_info d-flex flex-column justify-content-between">
                    <header>
                        <div class="title fs-20 font-weight-bold mb-3">Camera</div>
                        <ul class="ul_nostyle">
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Auctions</span> <span>1</span></li>
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Price from</span> <span>$ 2400</span></li>
                        </ul>
                    </header>
                    <div class="main_categories_card_info_arrow pointer fs-14 font-weight-bold">
                        view <img src="img/arrow_right.svg" class="ml-2 transition">
                    </div>


                </div>
            </a>
        </div>
        <div class="col-md-6 col-xl-4">
            <a href="" class="d-flex main_categories_card">
                <span class="img_wr">
                    <img src="img/card.svg" alt="">
                </span>
                <div class="main_categories_card_info d-flex flex-column justify-content-between">
                    <header>
                        <div class="title fs-20 font-weight-bold mb-3">Camera</div>
                        <ul class="ul_nostyle">
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Auctions</span> <span>1</span></li>
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Price from</span> <span>$ 2400</span></li>
                        </ul>
                    </header>
                    <div class="main_categories_card_info_arrow pointer fs-14 font-weight-bold">
                        view <img src="img/arrow_right.svg" class="ml-2 transition">
                    </div>


                </div>
            </a>
        </div>
        <div class="col-md-6 col-xl-4">
            <a href="" class="d-flex main_categories_card">
                <span class="img_wr">
                    <img src="img/card.svg" alt="">
                </span>
                <div class="main_categories_card_info d-flex flex-column justify-content-between">
                    <header>
                        <div class="title fs-20 font-weight-bold mb-3">Camera</div>
                        <ul class="ul_nostyle">
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Auctions</span> <span>1</span></li>
                            <li class="d-flex mb-2 align-items-center"><span class="color_gray fs-14">Price from</span> <span>$ 2400</span></li>
                        </ul>
                    </header>
                    <div class="main_categories_card_info_arrow pointer fs-14 font-weight-bold">
                        view <img src="img/arrow_right.svg" class="ml-2 transition">
                    </div>


                </div>
            </a>
        </div>
    </div>
</section>
<section class="mail_form container">
    <div class="search_bar d-flex align-items-center justify-content-center">
        <div class="h2 fw_900 d-flex align-items-center"><img src="img/email.svg" alt="Email Sign Up" class="mr-3"> Email Sign Up</div>
        <form action="" class="relative d-flex">
            <input type="text" placeholder="Search">
            <button class="search_bar_btn with_text">
                Send
            </button>
        </form>
    </div>
</section>
<%= _.template(require('./../includes/footer.html').default)(data) %>
