@import "~bootstrap/scss/bootstrap";

.ul_nostyle{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  color:#000;
  &:hover{
    opacity: 0.7;
  }
}
.fs-20{
  font-size: 1.3rem;
}
.fs-14{
  font-size: 0.9rem;
}
.fs-16{
  font-size: 1rem;
}
.color_gray{
  color:#939393;
}
.pointer{
  cursor: pointer;
}
.relative{
  position: relative;
}
.header{
  padding: 33px 15px;
  &_login_link{
    margin-left: 6rem;
  }
}
.fw_900{
  font-weight: 900;
}
.search_bar{
  padding: 77px 0;
  input{
    width: 100%;
    padding: 9px 20px;
    outline: none;
    border: 1px solid #ADADAD;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    &::placeholder{
      font-size: 0.8rem;
      color:#A4A4A4;
      padding-left: 10px;
      transform:translate3d(0,-2px,0)
    }
  }
  .search_bar_btn{
    background: #000;
    padding: 0 21px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #000;
    color:#fff;
    &.with_text{
      padding: 0 40px;
    }
  }
}
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    .search_bar{
      input{
        &::placeholder{
          transform:translate3d(0,2px,0)
        }
      }
    }
  }
}
.search_wr{
  background: #000;
  display: none;
  &.open{
    display: block;
  }
  .search_wr_close_btn{
    position: absolute;
    right: 15px;
    top:30px;
  }
  .search_bar{
    input{
      border: 1px solid #FFFFFF;
    }
  }
  .search_bar_btn{
    border: 1px solid #fff;
  }
}
.transition{
  transition: all 0.2s;
}
.img_wr{
  overflow: hidden;
  border-radius: 15px;
  img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
    border-radius: 15px;
  }
  &:hover{
    img{
      transform: scale(1.1);
      border-radius: 15px;
    }
  }
}
.main_nav{
  &_list{
    li{
      &.active{
        a{
          color:#000;
          position: relative;
          &:after{
            content: '';
            position: absolute;
            bottom: -10px;
            border-bottom: 2px solid #000000;
            left: 0;
            width: 100%;
          }
        }
      }
      a{
        color:#939393;
      }
    }
  }
}
.mail_form{
  form{
    min-width: 390px;
  }
  .h2{
    margin-right: 2rem;
  }
}
.main_categories{
  .main_categories_card{
    padding: 5px;
    box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.08), 0px 0.500862px 3.38082px rgba(0, 0, 0, 0.0376483);
    border-radius: 16px;
    margin-bottom: 30px;
    &:hover{
      opacity: 1;
    }
    &_info{
      padding: 20px 0;
      li{
        span:first-child{
          min-width: 100px;
        }
      }
      &_arrow{
        &:hover{
          img{
            transform: translateX(5px);
          }
        }
      }
    }
    .img_wr{
      height: 256px;
      width: 256px;
      margin-right: 3rem;
      flex: 0 0 auto;
    }
  }
}
.footer{
  background: #000;
  padding: 40px 0 15px 0;
  header{
    margin-bottom: 120px;
  }
  .sing{
    color:rgba(255,255,255,0.6);
  }
}
@media (max-width: 1920px) {
  .main_categories .main_categories_card .img_wr{
    height: 200px;
    width: 200px;
    margin-right: 2rem;
  }
}
@media (max-width: 1200px) {

}
@media (max-width: 991px) {
  .main_categories .main_categories_card{
    &_info{
      padding: 5px 0;
      header{
        li{
          span{
            font-size: 0.8rem;
          }
        }
      }
    }
    .img_wr{
      height: 150px;
      width: 150px;
      margin-right: 1rem;
    }

  }
  .mail_form{
    .search_bar{
      flex-direction: column;
      .h2{
        margin-bottom: 15px;
      }
    }
  }
}
@media (max-width: 767px) {
  h1{
    font-size: 1.8rem;
  }
  .mb-5{
    margin-bottom: 2rem!important;
  }
  .mt-5{
    margin-top: 2rem!important;
  }
  .xs_column{
    flex-direction: column;
  }
  .xs_none{
    display: none!important;
  }
  .mail_form form{
    min-width: 100%;
  }
  .footer{
    &_soc_nav{
      margin-top: 15px;
    }
    ul{
      li{
        margin-bottom: 5px;
      }
    }
    header{
      margin-bottom: 40px;
    }
    .sing{
      margin-top: 15px;
    }
  }
}
@media (max-width: 420px) {
  .main_categories{
    .main_categories_card{
      .fs-14{
        font-size: 0.7rem!important;
      }
      .main_categories_card_info{
        padding: 0;
      }
      header{
        .title{
          margin-bottom: 0px!important;
        }
        ul{
          li{
            margin-bottom: 5px!important;
          }
        }
        .fs-20{
          font-size: 1rem;
        }
      }
      .img_wr{
        height: 100px;
        width: 100px;
      }
    }
  }
}

